<div class="box">
    <div class="container">
        <h1>Rooms
            <a href="/rooms/new"><button type="button" class="btn btn-success">+</button></a>
        </h1>
        <div class="card-decks">
            <div class="row">
            {{#each rooms}}
                <div class="col-sm-6">
                    <div class="card">
                        <img class="img-fluid img-thumbnail" src="{{this.imgPath}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}
                            </p>
                            <a href="/rooms/{{this._id}}/edit" class="btn btn-info btn-md btn-block">edit</a>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
        <hr>
    </div>
</div>